/* 
	colors:
	aqua: #008e9a; 
	purple: #b20abf;
	grey: #4d5055;
*/

.horizontalLine { clear:left; border:0px; height:1px; background:#e1e1e1; width:100%; margin:5px 0px; }
.clearboth { clear:both; }

html, body { height:100%; width:100%; overflow:hidden; background:black; }  
html { margin:0px; padding:0px; font-family:"trebuchet ms",Arial, Helvetica, sans-serif; letter-spacing:normal;  }
body { padding: 0; margin-top: 0px; margin-right: 0px; margin-left: 0px; margin-bottom: 0px;
       font-family: Arial, Helvetica, sans-serif; letter-spacing:normal; font-size:12px; }
img { border:none; }
body a { color: #b20abf; }

div#mainContainer { position:absolute; width:100%; height:100%; z-index:0; overflow: hidden; }


div#header { height:60px; width:100%; border-bottom:3px solid #00909b; font-size:16px; background:black; }

div#header #logo { float:left; margin:16px 0 0 16px; }
div#header #caption { float:left; color:#cbcaca; font-style:italic; font-weight:100; font-size:12px; margin:28px 0 0 16px; }

div#header #aboutUs { float:right; color:white; margin:25px 15px 0px 15px; cursor:pointer; }
div#header #aboutUs:hover { text-decoration:underline; }

div#header #movityLink { float:right; color:white; margin:25px 15px 0px 15px; cursor:pointer; }
div#header #movityLink a { color:white; text-decoration:none; }
div#header #movityLink a:hover { text-decoration:underline; }


div#header #separator { float:right; height:25px; border-right:1px solid grey; margin:22px 0 0 0; }
div#header #feedback { float:right; color:white;  margin:25px 30px 0px 15px; cursor:pointer; }
div#header #feedback:hover { text-decoration:underline; }

div#aboutUsPanel { position:relative; }
div#aboutUsPanel #transparent { padding:20px; position:absolute; top:10px; right:10px; width:400px; height:600px; z-index:10;
    background:black; filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8; }	
div#aboutUsPanel #content { padding:20px; position:absolute; top:10px; right:10px; width:400px; height:600px; z-index:11; 
    color:white; }

span#aboutUsPanelHeading { font-size:20px; }

div#flashContainer { height:90%; }

div#flashCanvas { }


div#bottom { height:300px; border:1px solid black; padding:3px; background-color: black; }
